<section class="container-fluid">
    <div class="header_Section">
        <div class="header_Logo">
            <img src="../../../assets/logo.png">
        </div>

        <div class="header_Buttons">
            <p><span><img src="../../../assets/tv.png"></span>&nbsp;&nbsp;Screen Reader</p>
            <p><span><img src="../../../assets/search.png"></span>&nbsp;&nbsp;Search</p>
            <button><span><img src="../../../assets/Leading.png"></span>&nbsp;&nbsp;
                <select name="cars" id="cars">
                    <option value="volvo">Services</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>
            </button>
        </div>
    </div>
</section>