<section class="footer_Links">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="footer_Content">
                    <h3>Group Label</h3>
                    <p>Footer Link</p>
                    <p>Footer Link</p>
                    <p>Footer Link</p>
                    <p>Footer Link</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer_Content">
                    <h3>Group Label</h3>
                    <p>Footer Link</p>
                    <p>Footer Link</p>
                    <p>Footer Link</p>
                    <p>Footer Link</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer_Content">
                    <h3>Group Label</h3>
                    <p>Footer Link</p>
                    <p>Footer Link</p>
                    <p>Footer Link</p>
                    <p>Footer Link</p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer_Content">
                    <h3>Group Label</h3>
                    <p>Footer Link</p>
                    <p>Footer Link</p>
                    <p>Footer Link</p>
                    <p>Footer Link</p>
                </div>
            </div>
        </div>
    </div>
</section>